* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.product-page-container {
    margin: 70px 10rem;
}

.top-menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.top-menu-container .top-menu-titie {
    font-size: 16px;
}

.top-menu-container .view-icons {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu-container .sorting-menu select {
    border: none;
    font-size: medium;
    background-color: transparent;
    &:focus {
        outline: none;
    }

    padding: 2px;
}

/* sidebar */

.sidebar-container {
    float: left;
    width: 15%;
    padding: 15px;
    background-color: #f1f1f1;
    height: 100%;
    margin: 10px 10px 10px 0;
    border-radius: 10px;
}

.sidebar-title {
    font-size: 16px;
    margin-bottom: 15px;
}

.sidebar-sub-items {
    margin-bottom: 20px;
}

.sidebar-sub-items .item label {
    margin-left: 10px;
}

.sidebar-sub-items .item {
    font-size: 14px;
    padding-bottom: 10px;
    margin-left: 10px;
}

/* sidebar */

.product-status {
    width: fit-content;
}

.product-status p {
    color: #dedede;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    position: relative;
    left: 150px;
    top: 15px;
}

.product-card-image img {
    width: 180px;
    margin-bottom: 10px;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    background-color: #dedede;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.product-card:hover {
    background-color: #cfcfcf;
}

.product-card-title,
.product-card-description,
.product-price {
    margin: 2px;
    text-align: center;
}

.product-card-title {
    font-size: 18px;
    font-weight: 700;
}

.product-card-description {
    font-size: 16px;
    margin: 5px 0px;
}

.product-price {
    font-size: 17px;
}

.add-to-cart-button button {
    font-size: 15px;
    margin: 10px 2px;
    padding: 7px 28px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.add-to-cart-button button:hover {
    background-color: blue;
    color: white;
    justify-self: center;
}
