footer {
    margin-top: 5rem;
    background-color: #c4c4c4;
    color: rgb(0, 0, 0);
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 0 10rem;
    padding: 20px 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-content .footer-logo {
    font-size: 22px;
    font-weight: 600;
}

.footer-content1,
.footer-content h4 {
    font-size: 24px;
    font-weight: 600;
}

.footer-content1 .content {
    font-size: 18px;
    padding-top: 5px;
    font-weight: 100;
}
.footer-content1 .sub-title {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
}

.footer-content .content {
    font-size: 18px;
    padding-top: 15px;
}

.footer-content .slogan {
    font-style: italic;
    font-size: 18px;
    padding-top: 15px;
}
